<!DOCTYPE html>
<html>
<head>
    <title>Animus Core</title>
    <style>
        body {
            background: black;
            color: #00ff00;
            font-family: monospace;
            padding: 40px;
            text-align: center;
        }
        .flag {
            font-size: 26px;
            margin-top: 40px;
        }
    </style>
</head>
<body>

<h1>🔓 ADMIN ACCESS GRANTED</h1>

<p>Memory fragment recovered.</p>

<div class="flag">
🚩 vault{d35m0nd_m1l35}
</div>

</body>
</html>
